{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style>
	.button{
	width: 40px;
	height: 40px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease;
}
.button:hover{

}
.active#heart:before,.active#heart:after{
	background: red !important;
}
#heart {
    width: 60px;
    height: 90px;
    transition: background 0.5s ease;
}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 50px;
    width: 50px;
    height: 80px;
    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}
</style>
<script>
	$( document ).ready(function() {
var scaleCurve = mojs.easing.path('M0,100 L25,99.9999983 C26.2328835,75.0708847 19.7847843,0 100,0');
   var el = document.querySelector('.button'),
	// mo.js timeline obj
	timeline = new mojs.Timeline(),

	// tweens for the animation:

	// burst animation
	tween1 = new mojs.Burst({
		parent: el,
  radius:   { 0: 100 },
  angle:    { 0: 45 },
  y: -10,
  count:    10,
   radius:       100,
  children: {
    shape:        'circle',
    radius:       30,
    fill:         [ 'red', 'white' ],
    strokeWidth:  15,
    duration:     500,
  }
	});


	tween2 = new mojs.Tween({
		duration : 900,
		onUpdate: function(progress) {
			var scaleProgress = scaleCurve(progress);
			el.style.WebkitTransform = el.style.transform = 'scale3d(' + scaleProgress + ',' + scaleProgress + ',1)';
		}
	});
  		tween3 = new mojs.Burst({
		parent: el,
  radius:   { 0: 100 },
  angle:    { 0: -45 },
  y: -10,
  count:    10,
   radius:       125,
  children: {
    shape:        'circle',
    radius:       30,
    fill:         [ 'white', 'red' ],
    strokeWidth:  15,
    duration:     400,
  }
	});

// add tweens to timeline:
timeline.add(tween1, tween2, tween3);


// when clicking the button start the timeline/animation:
$( ".button" ).click(function() {
	if ($(this).hasClass('active')){
		$(this).removeClass('active');
	}else{
  timeline.play();
  $(this).addClass('active');
	}
});


});
</script>
	<article>
		<div class="media-body">
			<div class="article-metadata">
				<a class="mr-2" href="#">{{object_post.author}}</a>
				<small class="text-muted">{{object_post.date_posted|date:"D-M-Y"}}</small>
				<div>
					{% if object_post.author == user %}
					<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post_update' object_post.id %}">Update</a>
					<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post_delete' object_post.id %}">Delete</a>
				{% endif %}
				</div>
				
			</div>
			<h2 class="article-title">{{object_post.title}}</h2>
			<p class="article-content">{{object_post.content}}</p>
			<div class="article-metadata">
			</div>
			<div>
				<div id='heart' class='button'></div>
			</div>
			{% if user.is_authenticated %}
			<div class="content-section">
				<form method="POST">
					{% csrf_token %}
					<fieldset class="form-group"> 
						{{form|crispy}}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Comment</button>
					</div>
				</form>
		
			</div>
			{% endif %}
			{% for comments in comment_list %}
			<div><b>{{comments.user}}</b> <span>{{comments.date_posted}}</span></div>
			<p class="article-content">{{comments.comment}}</p>
			{% endfor %}
		</div>
	</article>
		
{% endblock content %}